.cart {
  margin: 24px auto;
  width: calc(100% - 32px);
  height: fit-content;
  box-sizing: border-box;
  background-color: var(--color-gray-01);
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 16px;
}

.cart.hidden {
  display: none;
}

.cart+div {
  display: none;
}

.cart+div {
  display: none;
}

.cart.hidden+div {
  box-sizing: border-box;
  margin: 24px auto;
  padding: 16px;
  font-family: 'DynaPuff';
  font-size: 24px;
  display: block;
  width: 100%;
  background-color: var(--color-gray-01);
  height: 100px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: calc(100% - 32px);
  color: var(--color-gray-02)
}

.cart__list {
  padding: 16px 0;
  min-height: 200px;
}



.cart__item > div:first-of-type {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 8px;
}

.cart__item {
  font-size: 18px;
  display: grid;
  grid-template-columns: 3fr 2fr  1fr 1fr 2fr;
  text-align: right;
}

.cart__footer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.cart__total > span {
  font-weight: 600;
}

.cart button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 4px 16px;
  opacity: 0.8;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
}

.cart button:hover {
  opacity: 1;
}