.list {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  gap: 16px;
  padding: 24px 8px;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
  height: fit-content;
  margin: 0 auto;
}