:root {
  --color-white: #FFF;
  --color-primary: #e61a6e;
  --color-secondary: #333;
  --color-gray-01: #ededed;
  --color-gray-02: #888;
  font-family: 'Mulish';
  color: var(--color-secondary);
  background-color: var(--color-white);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
